body {
  font-family: 'Cabin', sans-serif;
  margin-left: 114px;
  margin-right: 114px;
  margin-top: 69px;
  /*background: url(../images/P1.jpg) no-repeat center fixed;*/
}

img {
	max-width: 100%;
	height: auto;
}

h1, h2, h3, h4, h5, h6, {
	font-family: 'Cabin', sans-serif;

}
a {
  color: white;
  font-size: 21px;
  padding-left: 80px;
  padding-right:80px;
}
h1 {
  font-size: 50px;
  color: #ffffff;
  text-align: center;
}

h2 {
  font-size: 21px;
  color: #4d4d4d;
}

h3 {
  font-size: 18px;
  color: black;
}

h4 {
  font-size: 12px;
  color: #4d4d4d;
}

h5 {
  font-size: 12px;
  color: black;
}

.subtitle {
  font-size: 16px;
  color: white;
  text-align: center;
}
/* ---------------------------------------------- /*
 * Scroll-up
/* ---------------------------------------------- */

.scroll-up {
	border-style: solid;
	border-width: 0 0 48px 48px;
	border-color: transparent transparent rgba(27, 18, 18, 0.6) transparent;
	position: fixed;
	display: none;
	right: 0px;
	bottom: 0px;
	width: 0;
	height: 0;
	z-index: 999;
	-webkit-transition: -webkit-transform 0.8s ease-in-out;
		  -moz-transition: -moz-transform 0.8s ease-in-out;
			  -o-transition: -o-transform 0.8s ease-in-out;
					transition: transform 0.8s ease-in-out;
}

.scroll-up a {
	position: relative;
	display: inline-block;
	padding: 22px;
	bottom: 0px;
	left: -44px;
	font-size: 18px;
	color: #FFF;
}

.scroll-up a:hover {
	color: #90C695;
}


/* ---------------------------------------------- /*
 * General
/* ---------------------------------------------- */

.section {
	position: relative;
	padding: 120px 0;
}

.section-header {
	text-align: center;
}

.section-header,
.section-header h1,
.section-header h2,
.section-header h3,
.section-header h4,
.section-header h5,
.section-header h6 {
	color: #FFF;
}

.navbar {
	background: none;
	border-radius: 0;
	border: 0;
	padding: 25px 0;
	font-weight: 400;
	color: #FFF !important;
}

.wrapper {
	overflow: hidden;
}
